@mixin titleMixin ($fw: 700, $fz: 24px, $lh: 1.37) {
	font-weight: $fw;
	font-size:  $fz;
	line-height: $lh;
}
@mixin categoriesMixin ($fw: 700, $fz: 20px, $lh: 1, $ff: 'Josefin Sans') {
	font-family: $ff, sans-serif;
	font-weight: $fw;
	font-size:  $fz;
	line-height: $lh;
}

@mixin flexMixin($df:flex, $jc: space-between, $ai: center) {
	display: $df;
	justify-content: $jc;
	align-items: $ai;
}
