.profile-form {
	.profile-input {
		&::placeholder {
			font-weight: 400;
		}
		border-bottom: 1px solid #E5E5E5;
		color: #000;
		&__name {
			top: -15px;
			color: #373737;

		}
	}
	.form__btn {
		background: #000;
	}
}
.radio-label {
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
}
.male {
	margin-right: 50px;
}

